<div class="container" style="height: 100%">
    <div class="row" style="height: 50px"></div>
        <div id="myTabContent" class="tab-content">
            {% include 'Store/Base/Content/content_home.html' %}
            {% include 'Store/Base/Content/content_computer.html' %}
            {% include 'Store/Base/Content/content_english.html' %}
            {% include 'Store/Base/Content/content_others.html' %}
            {% include 'Store/Base/Content/content_search_result.html' %}
            {% include 'Store/Base/Function/news.html' %}
            {% include 'Store/Base/User/information.html' %}
        </div>
</div>